body {
    background-color: rgb(233, 250, 250);
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-variant: small-caps;
    font-weight: 20px;
}

.box1 {
    background-color: rgb(203, 161, 241); 
    width: 100%;
    height: 450px;
    position: fixed;
    top: 50px;
    z-index: 0;
}

.box2 {
    /* background: radial-gradient(pink, rgb(236, 81, 229), rgb(145, 46, 165)); */
    /* background: linear-gradient(rgb(197, 48, 197), rgb(174, 64, 248)); */
    /* background-image: url(); */
    background-color: rgb(227, 98, 231);
    width: 100%;
    height: 450px;
    position: fixed;
    top: 50px;
    z-index: 1;
}
