body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 35px;
    margin-left: 30px;
    padding: 20px;
}

.navbar {
    background-color: rgb(216, 101, 8);
    display: flex;
    justify-content: space-between;
    color: white;
    height: 130px;
}

.login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.login img {
    width: 40px;
    height: 40px;
    margin-right: 25px;
    margin: 20px;
}

.login p {
    font-size: 15px;
    margin: 30px;
    margin-left: 0px;
}

details {
    padding: 30px;
}

ul li {
    padding: 10px;
}

.bolo {
    margin-left: 60px;
    padding: 20px;
}

input {
    width: 250px;
    height: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.btn {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
}

.forms {
    margin-left: 60px;
    padding: 20px;
}

.receitas {
    display: flex;
    flex-direction: column;
}

input {
    padding-left: 5px;
}


